/* Buttons */
/* Base */
.button,
button {
  text-transform: none;
  -webkit-appearance: button;
  display: inline-block;
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.15;
  letter-spacing: 0.025rem;
  border-radius: 0.25rem;
  border: 1px solid #aaa;
  background-color: #fcfcfd;
  color: #333;
  outline: none;
  text-decoration: none;
  user-select: none;
  width: auto;
  height: auto;
  margin: 0;
  min-width: 6rem;
}
button:hover,
.button:hover,
button:focus,
.button:focus {
  text-decoration: none;
  border-color: #555;
  color: #000;
  background-color: #f7f7f8;
}
button:disabled {
  background: #f0f0f0;
  cursor: not-allowed;
  color: #aaa;
  border-color: #ccc;
}
