.hide {
  display: none;
}
.sort {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 0.25rem 0.25rem 0 0;
  overflow: hidden;
}
.sort-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem 1rem;
}
.sort-item > span {
  width: 1.5rem;
  height: 1.5rem;
}
.desc {
  display: inline;
}
.asc {
  display: inline;
  transform: rotate(180deg);
}
#list {
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0 0 0.25rem 0.25rem;
  overflow: hidden;
  margin-bottom: 5rem;
}
.list-item {
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  font-size: 2rem;
  font-weight: 600;
}
.list-item:last-child {
  border-bottom: none;
}
.list-item-link {
  padding: 0.5rem 0.75rem;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}
footer {
  text-align: center;
  position: fixed;
  bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 13rem;
}
